#--- редакторы и ненужное ---
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.DotSettings

#--- Unity кэш и файлы ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
ProfilerCaptures/

#--- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
*.egg-info/
*.egg
.coverage
.pytest_cache/
.env
.venv
venv/
env/
.idea/
.vscode/
tempCodeRunnerFile.py
.mypy_cache/
.ruff_cache/